/* mixin portada index */
/*  fin mixin portada index  */
/*inicio main de nosotros */
.gridPadre {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 50px 50px;
  grid-template-areas: "titulo titulo" "texto imagen";
  justify-items: left; }

.animacion_titulos {
  grid-area: titulo; }
  .animacion_titulos .tit {
    text-align: left;
    padding: 1rem; }

.text_nosotros {
  grid-area: texto;
  margin: 1cm;
  height: 1cm;
  padding-bottom: 200px;
  padding-top: 10px; }

.gridPadre img {
  grid-area: imagen;
  width: 600px;
  padding-bottom: 400px; }

/* fin main de nosotros */
/* inicio  @media nosotros */
@media only screen and (max-width: 420px) {
  .gridPadre {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 120px;
    grid-template-areas: "titulo" "imagen" "texto";
    justify-items: center; }
  h2 {
    grid-area: titulo;
    text-align: center;
    padding-bottom: 100px;
    height: 1px; }
  .text_nosotros {
    grid-area: texto;
    margin: 1cm;
    height: 1cm;
    padding-bottom: 600px;
    padding-top: 10px;
    text-align: center; }
  .gridPadre img {
    grid-area: imagen;
    width: 350px;
    padding-bottom: 1px; } }

h4 {
  color: white;
  text-align: start;
  padding: 0.5cm; }

.alimentos_flex {
  display: flex;
  align-content: flex-start;
  justify-content: space-around;
  align-items: center;
  flex-direction: row; }
  .alimentos_flex img:hover {
    transform: scale(2, 2); }

.accesorios_flex {
  display: flex;
  align-content: flex-start;
  justify-content: space-around;
  align-items: center;
  flex-direction: row; }
  .accesorios_flex img:hover {
    transform: scale(2, 2); }

.cuchas_flex {
  display: flex;
  align-content: flex-start;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  padding-bottom: 300px; }
  .cuchas_flex img:hover {
    transform: scale(2, 2); }

/* fin productos */
.gridpadre_servicios {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(1, 1fr);
  gap: 20px;
  justify-items: stretch;
  align-content: space-between;
  justify-content: space-between;
  align-items: stretch; }

.peluqueria {
  grid-area: 1 / 1 / 2 / 2;
  padding: 2cm;
  border: 1cm; }

.imgpeluqueria {
  grid-area: 1 / 2 / 2 / 3;
  border: 1cm;
  padding: 2cm; }

.veterinaria {
  grid-area: 2 / 1 / 3 / 2;
  padding: 2cm;
  padding-bottom: 300px;
  padding-top: 60px; }

.imgveterinaria {
  grid-area: 2 / 2 / 3 / 3;
  padding-bottom: 300px;
  padding-top: 60px;
  padding: 2cm; }

/* inicio @media servicios */
.gradiente {
  background-image: linear-gradient(#20200f, #d6db36); }

/* fin @media servicios */
.fondocontacto {
  background-image: url(../assets/imag/contacto.jpg);
  height: 800px; }

.form-group {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: flex-end;
  align-items: flex-end;
  justify-content: space-around;
  margin: 5cm;
  height: 5cm;
  font-size: 1.2rem;
  color: white;
  padding: 2cm;
  padding-bottom: 650px; }

* {
  margin: 0;
  padding: 0;
  text-decoration: none; }

body {
  background-color: #f6f676; }

/* inicio header canario */
header {
  background-color: #fbfbfa; }

header h1 {
  font-family: 'Nanum Pen Script', cursive;
  color: #eeee1b;
  font-size: 70px;
  padding-top: 0%; }

header h2 {
  font-family: 'Times New Roman', Times, serif;
  color: #737373;
  margin-bottom: 0.2rem; }

.logo__flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: flex-start;
  align-items: flex-start; }

.carrito {
  font-size: 200%; }

header img {
  height: 70px;
  width: 100px;
  margin: 0 0 0 20px; }

/* fin header canario */
/* inicio portada index */
.carousel-inner {
  height: 700px; }

/* mixin portada */
.contenedor__flex {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center; }

/* fin mixin portada */
.tituloportada {
  text-align: center;
  color: grey;
  font-size: 40px;
  /* nombre */
  animation-name: efecto;
  /* veces que se ejecuta */
  animation-iteration-count: infinite;
  /* duracion */
  animation-duration: 4s;
  /* tiempo que demora hasta que carga */
  animation-delay: 1s; }

@keyframes efecto {
  0% {
    color: gray; }
  50% {
    color: white; }
  75% {
    color: black; }
  100% {
    color: gray; } }

main .portadaText {
  text-align: center;
  background-color: #f6f676;
  font-size: medium;
  padding-bottom: 200px;
  padding-top: 30px;
  height: 0%; }
  main .portadaText p {
    margin: 2px;
    padding: 20px; }

/* fin texto de portada index */
/* animacion titulos */
.animacion_titulos {
  text-align: left;
  color: grey;
  padding: 1cm;
  height: 1cm;
  /* nombre */
  animation-name: efecto;
  /* veces que se ejecuta */
  animation-iteration-count: infinite;
  /* duracion */
  animation-duration: 4s;
  /* tiempo que demora hasta que carga */
  animation-delay: 1s; }

@keyframes efecto {
  0% {
    color: gray; }
  50% {
    color: white; }
  75% {
    color: black; }
  100% {
    color: gray; } }

/* fin animacion titulos */
/* inicio de footer */
footer {
  color: white;
  line-height: 15px;
  background-image: url("../assets/imag/gray.jpg");
  background-color: grey;
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  bottom: 0;
  width: 100%; }
  footer ul li {
    font-size: 1.5rem;
    text-align: center; }
    footer ul li a {
      color: white; }
  footer .bi {
    font-size: 1.2rem;
    text-align: center; }
    footer .bi p {
      font-size: 1.5rem; }

.footer__flex {
  display: flex;
  justify-content: space-around;
  font-size: 0.8rem; }

.footer__creditos {
  font-size: 0.8rem;
  text-align: center; }

/* fin de footer */
/* inicio vista mobile index */
@media only screen and (max-width: 420px) {
  /* inicio @media index */
  body {
    background-color: #f6f676;
    height: 1000px; }
  header h1 {
    font-family: 'Nanum Pen Script', cursive;
    color: #eeee1b;
    font-size: 40px;
    padding-top: 0%; }
  header h2 {
    font-family: 'Times New Roman', Times, serif;
    color: #737373;
    margin-bottom: 0.2rem; }
  .carousel-inner {
    height: 300px;
    width: 500px; }
  .contenedor__flex {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center; }
  /* fin mixin portada */
  .tituloportada {
    text-align: center;
    color: grey;
    font-size: 30px;
    /* nombre */
    animation-name: efecto;
    /* veces que se ejecuta */
    animation-iteration-count: infinite;
    /* duracion */
    animation-duration: 4s;
    /* tiempo que demora hasta que carga */
    animation-delay: 1s; }
  @keyframes efecto {
    0% {
      color: gray; }
    50% {
      color: white; }
    75% {
      color: black; }
    100% {
      color: gray; } }
  main .portadaText p {
    text-align: center;
    background-color: #f6f676;
    font-size: medium;
    padding-bottom: 30px;
    padding-top: 40px;
    height: 0%; }
  /* fin de index */
  /* inicio @media footer */
  footer {
    color: white;
    line-height: 4px;
    background-image: url("../assets/imag/gray.jpg");
    background-color: grey;
    background-repeat: no-repeat;
    background-size: cover;
    bottom: 0;
    width: 100%;
    font-size: 2px;
    position: relative; }
  .bi-whatsapp:before {
    font-size: 1rem; }
  .bi-geo-alt::before {
    font-size: 1rem; }
  .bi-envelope::before {
    font-size: 1rem; }
  .fa-facebook-f:before {
    font-size: 1rem;
    color: white; }
  .fa-instagram:before {
    font-size: 1rem;
    color: white; }
  .fa-twitter:before {
    font-size: 1rem;
    color: white; }
  .fa-cc-visa:before {
    font-size: 1rem;
    color: white; }
  .fa-cc-mastercard::before {
    font-size: 1rem;
    color: white; }
  .fa-cc-amex:before {
    font-size: 1rem;
    color: white; }
  .fa-cc-paypal:before {
    font-size: 1rem;
    color: white; }
  .footer__flex {
    display: flex;
    justify-content: space-evenly;
    font-size: 0.3rem;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: stretch; }
  .footer__creditos {
    font-size: 0.3rem;
    text-align: center; }
  /* fin @media footer */ }
