.tit_alimentos {
    color: black;
    padding: 50px;
    border: 120px;
    padding-bottom: 1px;


}

.tit_accesorios {
    @extend .tit_alimentos
}

.tit_cuchas {
    padding: 50px;
    border: 120px;
    padding-bottom: 1px;
}

.alimentos_flex {
    @include alimentosflex(flex, flex-start, space-around, center, row);

    img:hover {
        transform: scale(2, 2);
    }

}

.accesorios_flex {
    @extend .alimentos_flex
}

.cuchas_flex {
    display: flex;
    align-content: flex-start;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    padding-bottom: 200px;

    img:hover {
        transform: scale(2, 2);

    }
}

/* fin productos */