<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=C, initial-scale=1.0">
    <meta name="keywords" content="petshop cordoba,mascotas, alimentos para mascotas">
    <meta name="description" content="Te esperamos en Av. La Cordillera 3946 o comunicate a nuestro wsp +5493513845741.">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">
    <link rel="shortcut icon" href="../assets/imag/logo.png" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/estilos.css">
    <title>Canario Pet Shop-Contacto</title>
</head>

<body>
    <!-- Inicio de header -->
    <nav class="navbar navbar-expand-lg bg-light">
        <div class="row">
            <div class="logo__flex col-sm-12 my-1">
                <a href="../index.html"><img src="../assets/imag/logo1.jpeg" alt=logo></a>
            </div>
        </div>
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="navbar-brand" href="../index.html">INICIO</a>
                    <a class="nav-link" aria-current="page" href="../views/nosotros.html">NOSOTROS</a>
                    <a class="nav-link" href="../views/productos.html">PRODUCTOS</a>
                    <a class="nav-link" href="../views/servicios.html">SERVICIOS</a>
                    <a class="nav-link" href="../views/contacto.html">CONTACTO</a>
                </div>
            </div>
            <div class="carrito"><i class="bi bi-cart4"></i></div>
        </div>
    </nav>
    <header class="container-fluid">
        <h1 class="text-center  mt-4">Canario Pet Shop</h1>
        <h2 class="text-center">Tienda para mascotas</h2>
    </header>
    <!-- Fin de header -->
    <!-- Inicio de main -->
    <main>
        <section class="fondocontacto">
            <div class="animacion_titulos">
                <h2>Contactanos</h2>
            </div>
            <form role="form_flex">
                <div class="form-group">
                    <div class="mb-1 col-md-6">
                        <label for="exampleFormControlInput1" class="form-label">Nombre</label>
                        <input type="nombre" class="form-control" id="exampleFormControlInput1" placeholder="Nombre">
                        <label for="exampleFormControlInput1" class="form-label">Apellido</label>
                        <input type="e-mail" class="form-control" id="exampleFormControlInput1" placeholder="Apellido">
                        <label for="exampleFormControlInput1" class="form-label">E-mail</label>
                        <input type="e-mail" class="form-control" id="exampleFormControlInput1" placeholder="E-mail">
                    
                    </div>
                    <div class="mb-4 col-md-6">
                        <label for="exampleFormControlTextarea1" class="form-label">Dejanos tu mensaje</label>
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="5"></textarea>
                        <button type="button" class="btn btn-dark">Enviar</button>
                    </div>
                </div>
            </form>

        </section>
    </main>
    <!-- Fin de main -->
    <!-- Inicio de footer -->
    <footer>
        <div class="footer__flex">
            <div>
                <h4>Contactanos</h4>
                <p><i class="bi bi-whatsapp">+5493513845741</i></p>
                <p><i class="bi bi-geo-alt">Av. La Cordillera 3946</i></p>
                <p><i class="bi bi-envelope">tiendaonline@canariopetshop.com</i></p>
            </div>
            <div>
                <h4>Redes Sociales</h4>
                <ul class="mt-4 list unstyled">
                    <li class="list-inline-item">
                        <p><i class="fab fa-facebook-f"></i></p>
                    </li>
                    <li class="list-inline-item">
                        <p><i class="fab fa-instagram"></i></p>
                    </li>
                    <li class="list-inline-item">
                        <p><i class="fab fa-twitter"></i></p>
                    </li>
                </ul>
            </div>
            <div>
                <h4>Medios de pago</h4>
                <ul class="mt-4 list unstyled">
                    <li class="list-inline-item">
                        <p><i class="fab fa-cc-visa"></i></p>
                    </li>
                    <li class="list-inline-item">
                        <p><i class="fab fa-cc-mastercard"></i></p>
                    </li>

                    <li class="list-inline-item">
                        <p><i class="fab fa-cc-amex"></i></p>
                    </li>

                    <li class="list-inline-item">
                        <p><i class="fab fa-cc-paypal"></i></p>
                    </li>
                </ul>
            </div>
        </div>
        <div class="footer__creditos">
            <p> Desarrollado por Anto Scapazzoni</p>
        </div>
    </footer>
    <!-- Fin de footer -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous">
    </script>
</body>

</html>