<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../assets/imag/logo1.jpeg" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/estilos.css">
    <title>Productos</title>
</head>

<body>
    <!-- Inicio de header -->
    <header>
        <h1>Canario Pet Shop</h1>
        <h2>Tienda para mascotas</h2>
        <div class="logo__flex">
            <a href="index.html"><img src="../assets/imag/logo1.jpeg" alt=logo></a>
        </div>
        <nav>
            <ul>
                <li><a href="../index.html">INICIO</a></li>
                <li><a href="nosotros.html">NOSOTROS</a></li>
                <li><a href="productos.html">PRODUCTOS</a></li>
                <li><a href="servicios.html">SERVICIOS</a></li>
                <li><a href="contacto.html">CONTACTO</a></li>
            </ul>
        </nav>
    </header>
    <!-- Fin de header -->
    <main>
        <div class="animacionproductos">
            <h2>Productos</h2>
        </div>
        <!-- Incio imagenes de productos -->
        <ul>
            <li>Alimentos</li>
            <li class="accesoriosimg"><img src="../assets/imag/oip.jpg" alt=""></li>
            <li>Accesorios</li>
            <li class="row"><img src="../assets/imag/acces.jpg" alt=""></li>
            <li>Cuchas</li>
            <li><img src="../assets/imag/cuchita.jpg" alt=""></li>
            <li>Transportadores</li>
            <li><img src="../assets/imag/transportadores.jpg" alt=""></li>
        </ul>
    </main>
    <!-- Fin de imagenes de productos -->
    <!-- Inicio de footer -->
    <footer>
        <div class="footer__flex">
            <div>
                <h4>Contactanos</h4>
                <p> Wsp: 5493513845741</p>
                <p>Telefono: 5493513845741</p>
                <p>Direccion: Av. La Cordillera 3946</p>
                <p>E-mail:tiendaonline@canariopetshop.com</p>
            </div>
            <div>
                <h4>Redes Sociales</h4>
                <p>
                    Facebook
                    Twitter
                    Instagram
                </p>
            </div>
            <div>
                <h4>Medios de pago</h4>
                <p>Visa
                    Mastercard
                    Transferencia
                    Mercado Pago</p>
            </div>
        </div>
        <div class="footer__creditos">
            Desarrollado por Anto Scapazzoni
            <div>
    </footer>
    <!-- Fin de footer -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</body>

</html>