<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="petshop cordoba,mascotas, alimentos para mascotas">
    <meta name="description" content="Venta de accesorios, cuchas y alimentos para tus mascotas.">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">
    <link rel="shortcut icon" href="../assets/imag/logo.png" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/estilos.css">
    <title>Canario Pet Shop-Productos</title>
</head>

<body>
    <!-- Inicio de header -->
    <nav class="navbar navbar-expand-lg bg-light">
        <div class="row">
            <div class="logo__flex col-sm-12 my-1">
                <a href="../index.html"><img src="../assets/imag/logo1.jpeg" alt=logo></a>
            </div>
        </div>
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="navbar-brand" href="../index.html">INICIO</a>
                    <a class="nav-link" aria-current="page" href="../views/nosotros.html">NOSOTROS</a>
                    <a class="nav-link" href="../views/productos.html">PRODUCTOS</a>
                    <a class="nav-link" href="../views/servicios.html">SERVICIOS</a>
                    <a class="nav-link" href="../views/contacto.html">CONTACTO</a>
                </div>
            </div>
            <div class="carrito"><i class="bi bi-cart4"></i></div>
        </div>
    </nav>
    <header class="container-fluid">
        <h1 class="text-center mt-4">Canario Pet Shop</h1>
        <h2 class="text-center">Tienda para mascotas</h2>
    </header>
    <!-- Fin de header -->
    <main>
        <div class="animacion_titulos">
            <h2>Productos</h2>
        </div>
        <!-- Incio imagenes de productos -->
        <div class="tit_alimentos">
        <h3>Alimentos</h3>
    </div>
        <div class="alimentos_flex">
            <div class="card" style="width: 18rem;">
                <img src="../assets/imag/catchow.jpg" class="card-img-top" alt="catchow">
                <div class="card-body">
                    <h5 class="card-title">Cat Chow Defense Plus</h5>
                    <p class="card-text">Alimento Cat Chow Defense Plus para gato adulto sabor pescado en bolsa de 15
                        kg.</p>
                    <button type="button" class="btn btn-secondary">Comprar</button>

                </div>
            </div>

            <div class="card" style="width: 18rem;">
                <img src="../assets/imag/dogui2.jpg" class="card-img-top" alt="dogui">
                <div class="card-body">
                    <h5 class="card-title">Dogui Recetas Caseras</h5>
                    <p class="card-text">Alimento Dogui Recetas Caseras para perro adulto sabor carne y vegetales en
                        bolsa de 21 kg</p>
                    <button type="button" class="btn btn-secondary">Comprar</button>
                </div>
            </div>

            <div class="card" style="width: 18rem;">
                <img src="../assets/imag/excgato.jpg" class="card-img-top" alt="excellentgato">
                <div class="card-body">
                    <h5 class="card-title">Excellent Gato Adulto</h5>
                    <p class="card-text">Purina Excellent Gato Adulto Skin Care 7.5 Kg</p>
                    <button type="button" class="btn btn-secondary">Comprar</button>
                </div>
            </div>
        </div>
        <div class="tit_accesorios">
        <h3>Accesorios</h3>
    </div>
        <div class="accesorios_flex">
            <div class="card" style="width: 18rem;">
                <img src="../assets/imag/comederos.jpg" class="card-img-top" alt="comederos">
                <div class="card-body">
                    <h5 class="card-title">Comedero</h5>
                    <p class="card-text">Comedero De Acero Inoxidable 21 Cm Base Perro Antideslizante</p>
                    <button type="button" class="btn btn-secondary">Comprar</button>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <img src="../assets/imag/transportador.png" class="card-img-top" alt="transportador">
                <div class="card-body">
                    <h5 class="card-title">Transportador para mascotas</h5>
                    <p class="card-text">Bolso Transportador Perro Gato Varios Diseños S 23x16x36</p>
                    <button type="button" class="btn btn-secondary">Comprar</button>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <img src="../assets/imag/collar.jpg" class="card-img-top" alt="collar">
                <div class="card-body">
                    <h5 class="card-title">Collar</h5>
                    <p class="card-text">Collar Perro Chico/mediano Con Panuelo Bandana 40cm</p>
                    <button type="button" class="btn btn-secondary">Comprar</button>
                </div>
            </div>
        </div>
        <div class="tit_cuchas">
        <h3>Cuchas</h3>
    </div>
        <div class="cuchas_flex">
            <div class="card" style="width: 18rem;">
                <img src="../assets/imag/cucha1.jpg" class="card-img-top" alt="cucharayada">
                <div class="card-body">
                    <h5 class="card-title">Cucha para mascota Rayas Negras</h5>
                    <p class="card-text"> Posee acabado antimanchas y un almohadón doble faz para adaptarse a diferentes
                        temperaturas.</p>
                    <button type="button" class="btn btn-secondary">Comprar</button>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <img src="../assets/imag/cucha3.jpg" class="card-img-top" alt="cuchademadera">
                <div class="card-body">
                    <h5 class="card-title">Cucha Safari</h5>
                    <p class="card-text"> Están construidas con estructura de madera dura, 2x1 pulgadas, atornillada en
                        todas sus uniones, revestida en su totalidad en machimbre de primera calidad.</p>
                    <button type="button" class="btn btn-secondary">Comprar</button>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <img src="../assets/imag/cucha4.jpg" class="card-img-top" alt="cuchabubble">
                <div class="card-body">
                    <h5 class="card-title">Cucha Bubble</h5>
                    <p class="card-text"> Esfera realizada con polietileno de alta densidad, resistente al impacto y con
                        protección UV que permite que los colores permanezcan inalterables con el paso del tiempo</p>
                    <button type="button" class="btn btn-secondary">Comprar</button>
                </div>
            </div>
        </div>
    </main>
    <!-- Fin de imagenes de productos -->
    <!-- Inicio de footer -->
    <footer>
        <div class="footer__flex">
            <div>
                <h4>Contactanos</h4>
                <p><i class="bi bi-whatsapp">+5493513845741</i></p>
                <p><i class="bi bi-geo-alt">Av. La Cordillera 3946</i></p>
                <p><i class="bi bi-envelope">tiendaonline@canariopetshop.com</i></p>
            </div>
            <div>
                <h4>Redes Sociales</h4>
                <ul class="mt-4 list unstyled">
                    <li class="list-inline-item">
                        <p><i class="fab fa-facebook-f"></i></p>
                    </li>
                    <li class="list-inline-item">
                        <p><i class="fab fa-instagram"></i></p>
                    </li>
                    <li class="list-inline-item">
                        <p><i class="fab fa-twitter"></i></p>
                        
                    </li>
                </ul>
            </div>
            <div>
                <h4>Medios de pago</h4>
                <ul class="mt-4 list unstyled">
                    <li class="list-inline-item">
                        <p><i class="fab fa-cc-visa"></i></p>
                    </li>
                    <li class="list-inline-item">
                        <p><i class="fab fa-cc-mastercard"></i></p>

                    </li>

                    <li class="list-inline-item">
                        <p><i class="fab fa-cc-amex"></i></p>
                            
                    </li>

                    <li class="list-inline-item">
                        <p><i class="fab fa-cc-paypal"></i></p>
                    </li>
                </ul>
            </div>
        </div>
        <div class="footer__creditos">
            <p> Desarrollado por Anto Scapazzoni</p>
        </div>
    </footer>
    <!-- Fin de footer -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous">
    </script>
</body>

</html>